
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$navbar-item-color: white;
$table-head-cell-border-width: 0 0 0.3rem;
$table-head-cell-color: mediumblue;
$table-cell-padding: 0.5em 3.3em;

@import "~bulma/bulma";

body, html {
  background-color: #1a1527;
  margin: 0;
  padding: 0;
  height: 100%;
}

.coin-list {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

.coin-search {
  margin: 0.3rem;
  padding: 0.3rem;
}

.tag {
  margin: 0.5rem 0 0 26rem;
  font-size: 1rem !important;
}

.coin-info-table td {
  padding: 0.75rem 2rem;
}

.coin-info {
  background-color: currentColor;
}

.sidebar-header {
  color: white !important;
}

.sidebar {
  margin-top: 0.7rem !important;
}

.coin-info-navbar {
  background-color: #596dff;
  a {
    text-decoration: none !important;
    color: white !important;
    font-family: sans-serif;
  }
  a:hover {
    background-color: #0d09ff;
  }
  a:active {
    color: whitesmoke;
  }
}

.coin-detail-tabs {
  margin-top: 1em;
  li {
    margin-right: 1rem;
  }
  a {
    color: currentColor !important;
    background-color: gainsboro !important;
  }
}

.market-history-table {
  position: absolute;
  background-color: white !important;
  color: #363636 !important;
}